{% extends 'base.html' %}
{% block header %}
{% endblock %}
{%  block content %}
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
  <div class="container">
    <div class="navbar-header">
      <!-- Button for smallest screens -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="vOne HTML5 template"></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
       <!-- <li><a href="about.html">About</a></li>-->
    <!--    <li><a href="services.html">Services</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="sidebar-right.html">Right Sidebar</a></li>
            <li><a href="#">Dummy Link1</a></li>
            <li><a href="#">Dummy Link2</a></li>
            <li><a href="#">Dummy Link3</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>-->
          <li class="active"><a class="btn" href="{{ url_for('logout') }}">LOGOUT</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
    <form class="form-search" action=" {{url_for('search')}}" method="post" name="search" style="text-align: center;padding-top:10%; ">
        {{g.search_form.hidden_tag()}}{{g.search_form.search(placeholder="Search lecturer", style="text-align: center; border-radius: 3px; width:50%; height: 39px;border:0;", size=20)}}
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
</div>
<!-- /.navbar -->

<!-- Header -->
<header id="head">
  <div class="container">

  </div>
</header>
<!-- /Header -->

{% endblock %}
{% block footer %}
{% endblock %}